# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
download-funcoes/converter segundos codeblocks.c
download-funcoes/questao  4 resolvidos codeblocks - Copia.c
download-funcoes/questao 4 funcao resolvidos.c
download-funcoes/questao 6 resolvidos - Copia.c
download-funcoes/questão 18 propostos.c
download-funcoes/questão 9 propostos.c
download-funcoes/quetao 5 resolvidos codeblocks.c
